@media screen and (max-width:600px) {
    .banner-section{
        width: 450px;
        flex-direction: column;
      
      
.
    }
    .text{
margin-top: 5px;
    }
    .Popular-Tour-part{
        flex-direction: column;
        
    }
    .popu-img{
        margin: 0 auto;
    }
    .popular-tour-title{
        text-align: center;
    }
    .parfect-place-section{
        flex-direction: column;
        
      
    }
    .Popular-Tour-part{
        flex-direction: column;
        margin-bottom: 10px;
        max-height: 200px;
        min-width: 570px;
       
       
    }
    .row{
        flex-direction: column;
    }
    .choosen-part{
        flex-direction: column;
    }
    .card-section{
        flex-direction: column;
    }
    .fotter-part{
        flex-direction: column;
    }
    ..icons{
        flex-direction: column;
    }



    
}