@media screen and (max-width:600px) {
    .Popular-Tour-part{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .popu-img{
        margin: 0 auto;
    }
    .popular-tour-title{
        text-align: center;
    }
    .parfect-place-section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}