*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Mulish', sans-serif;
    font-family: 'Inter', sans-serif;
}
/* common shared style */

/*  Our Popular Tours */
.Popular-Tour-part{
    max-width: 1150px;
    max-height: 600px;
    margin: 0 auto;
    display: flex;
    margin-top: 30px;
  
}

.popular-tour-title{
    color: #131318;
font-size: 2.6rem;
font-weight: 800;
padding-bottom: 20px;

}
.popu-description{
    color: rgba(19, 19, 24, 0.70);
font-size: 1rem;
font-weight: 400;
padding-bottom: 20px;

}
.btn-primary{
    width: 174px;
height: 52px;
border-radius: 8px;
background: #FF5400;
border: none;
color: #FFF;
text-align: center;
font-size: 1.2rem;
font-weight: 800;
}
.popular-description{
    width: 48%;
  
   
}
.place-title{
       padding-bottom: 20px;
}
.popular-img{
width:48%;
}
.popu-img{
    width: 88%;
    height: 88%;
    border-radius: 10px 10px 10px 10px;
    padding-left: 40px;
    object-fit: cover;
}
/* parfect place section */
.parfect-place-section{
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
}
.parfect-place-part{
    width: 48%;
   
}
.place-description{
    color: #131318;
    font-size:1rem;
    font-weight: 700;
    padding-bottom: 20px;

}
.place-img-part{
    width: 48%;
}
.place-img{
    width: 90%;
    border-radius: 10px;
    padding-left: 40px;
    object-fit: cover;
}
/* Newsletter-section */
.Newsletter-section{
max-width: 1150px;
display: flex;
padding-top: 40px;
margin: 0 auto;
}
.newsletter{
    color: #131318;
font-size: 24px;
font-weight: 800;
padding: 20px;

}
.news-description{
    color: #5A5A5D;
font-size: 1rem;
padding-bottom: 20px;
font-weight: 400;

}
.input-form{
    width: 380px;
height:45px;
border: none;
border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-left: 30px;

}
.Subscrive{
  
    width: 393px;
height: 52px;

}
.form-img-part{
    width: 48%;
}
.form-img{
    width: 100%;
    border-radius: 10px;
    padding-left: 40px;
    object-fit: cover;

}
.discount-part{
   width: 240px;
   height: 90px;
   border-radius: 1rem;
background: #FF5400;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;
bottom: 150px;
left: 350px;
transform: rotate(-21.628deg);
}
/* footer section */
footer{
    background: rgba(19, 19, 24, 0.05);
    max-width: 100%;
    max-height: 100%;
    height:300px;
    margin-top: 30px;
}
.fotter-part{
    display: flex;
    gap: 10px;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
}
.hero{
    padding-top: 10px;
    color: var(--Dark-01, #131318);
font-size: 2rem;
font-weight: 800;
}
.special{
    color: #FF5400;
font-size: 2rem;
font-weight: 800;

}
.logo{
    width: 40px;
}
.footer-description{
    color: #5A5A5D;
text-align: center;
font-size: 16px;
font-weight: 400;
text-align: center;
padding-top: 20px;

}
.border{
    max-width: 1000px;
    margin: 0% auto;
    background: rgba(19, 19, 24, 0.10);
    width: 872px;
height: 1px;
margin-top: 30px;
}
.icons{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.last-part{
    color: #131318;
font-family: Inter;
font-size: 1rem;
font-weight: 300;
text-align: center;
margin-top: 30px;
}

